/* Global styles for the body */
body {
  margin: 0; /* Removes default margin around the body */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased; /* Ensures smoother fonts on Webkit-based browsers (like Safari, Chrome) */
  -moz-osx-font-smoothing: grayscale; /* Ensures smoother fonts on Firefox for macOS */
}

/* Styling for code blocks */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace; /* Monospace fonts for code blocks */
}
